<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Homobox - {% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <div id="title">
        <h1>Homobox</h1>
        <h2>{{ self.title() }}</h2>
    </div>

    {% if session["logged_in"] %}
    <div id="logged_in">Logged in as {{ session["name"] }}</div>
    {% endif %}

    <!-- Navbar -->
    {% set navigation_bar = [
        ("index", "Home"),
        ("chat", "Chat"),
        ("chat_log", "Chat Log"),
        ("login", "Login"),
        ("logout", "Logout")
        ] %}
    {% set active_page = active_page|default("index") %}
    <ul id="navigation">
            {% for id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif %}>
                <a href="{{ url_for(id)|e }}">{{ caption|e }}</a></li>
            {% endfor %}
    </ul>

    {% if get_flashed_messages()|length > 0 %}
    <div id="flashes">
        {% for message in get_flashed_messages() %}
        <div class="message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>