{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Settings{% endblock %}
{% block content %}
    {% if session.admin %}
        <div class="admin">
            <form action="" method="post">
                <h3>Create a new user</h3>
                <input type="hidden" name="type" value="create_user">
                <p>Name: <input type="text" name="name" autocomplete="off"></p>
                <p>Password: <input type="password" name="password"></p>
                <p>Admin: <input type="checkbox" name="admin" value="yes"></p>
                <input type="submit" value="Create">
            </form>
        </div>
    {% endif %}

    {% if session.logged_in %}
        <div class="settings">
            <form action="" method="post">
                <h3>Change password</h3>
                <input type="hidden" name="type" value="change_password">
                <p>Current password: <input type="password" name="old_password"></p>
                <p>New password: <input type="password" name="new_password"></p>
                <p>New password again: <input type="password" name="new_password_again"></p>
                <input type="submit" value="Change">
            </form>
        </div>
    {% endif %}
{% endblock %}